@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: 
        local('Sifonn Pro'), 
        url('font/SIFONN_PRO.otf') format('opentype');
}

body{
    margin: 0;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quiSommesNous_section {
    padding: 0rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btnQui_container {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    padding-top: 2rem;
    background-color: white;
    font-family: 'Sifonn Pro';
}

.btnQui_container img{
    max-width: 7%;
    height: auto;
    margin: 0rem 2rem 2rem 2rem;
}

.btnQui_container h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #273370;
}

.headerTitle_container{
    position: absolute;
    align-items: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

.btnQui_container a {
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s;
    box-shadow: 0px 0px 40px 4px rgb(187, 187, 187);
}
.btnQui_container a:hover {
    scale: 1.06;
}

.btnQui_container_btm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-top: 2rem;
    font-family: 'Sifonn Pro';
}
.btnQui_container_btm h1 {
    margin-top: 0;
    margin-bottom: 4rem;
}
.btnQui_container_btm a {
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: .2s;
    box-shadow: 0px 0px 40px 4px rgb(187, 187, 187);
}
.btnQui_container_btm a:hover {
    scale: 1.06;
}

.tripleBtnCard_container {
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.btnCardElement {
    height: 400px;
    width: 400px;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0px 0px 20px 4px rgb(187, 187, 187);
    border-radius: 10px;
    position: relative;
}

.btnCardElement1 {
    height: 400px;
    width: 400px;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
    transition: .2s;
    box-shadow: 0px 0px 20px 4px rgb(187, 187, 187);
    border-radius: 10px;
    position: relative;
}

.btnCardElement:hover {    
    scale: 1.06;
}

.btnCardElement1:hover {    
    scale: 1.06;
}

.btnCard-img_container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.btnCard-img_container_client {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}


.btnCard-img_container img{
    height: 100%;
    object-fit: cover;
}

.btnCard-img_container_client img{
    height: 100%;
    object-fit: cover;
}

.btnCardElement p {
    position: absolute;
    color: #000;
    text-align: center;
    bottom: 0;
    font-family: 'Sifonn Pro';
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    background-color: #fff;
}

.btnCardElement1 p {
    position: absolute;
    color: #000;
    text-align: center;
    bottom: 0;
    font-family: 'Sifonn Pro';
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    background-color: #fff;
}

@media screen and (max-width: 1400px) {
    .tripleBtnCard_container {
        width: 80%;
    }

    .btnQui_container_btm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        padding-top: 2rem;
        font-family: 'Sifonn Pro';
    }

    .btnCardElement {
        height: 300px;
        width: 300px;
        text-decoration: none;
        color: #000;
        border-radius: 10px;
        overflow: hidden;
        transition: .2s;
        box-shadow: 0px 0px 10px 4px rgb(187, 187, 187);
        border-radius: 10px;
        position: relative;
    }

    .btnCardElement1 {
        height: 300px;
        width: 300px;
        text-decoration: none;
        color: #000;
        border-radius: 10px;
        overflow: hidden;
        transition: .2s;
        box-shadow: 0px 0px 10px 4px rgb(187, 187, 187);
        border-radius: 10px;
        position: relative;
    }
}

@media screen and (max-width: 980px) {

    .btnQui_container {
        display: flex;
        align-items: center;
        margin-top: 0rem;
        padding-top: 0rem;
        background-color: white;
        font-family: 'Sifonn Pro';
    }

    .btnQui_container h1 {
        margin-top: 4rem;
        font-size: 5vw;
        text-align: center;
        margin-bottom: 4rem;
        color: #273370;
    }

    .btnQui_container img{
        max-width: 10%;
        height: auto;
        margin: 1rem 1rem 1rem 1rem;
    }

    .tripleBtnCard_container {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 2rem;
    }
    .btnCardElement {
        height: 55px;
        width: 80%;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 0px rgb(187, 187, 187);
    }

    .btnCardElement1 {
        width: 80%;
        height: 55px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 0px rgb(187, 187, 187);
    }


    .btnCardElement p {
        position: initial;
    }


    .btnCard-img_container{
        display: none;
    }

    .btnQui_container_btm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0rem;
        padding-top: 2rem;
        margin-bottom: 5rem;
        font-family: 'Sifonn Pro';
    }

    .btnQui_container_btm a {
        background: #fff;
        color: #000;
        padding: 1rem;
        border-radius: 10px;
        text-decoration: none;
        transition: .2s;
        box-shadow: 0px 0px 0px 0px rgb(187, 187, 187);
    }
}